body {
    height: 100%;
}

header {
    height: 10%;
    background-color: lightskyblue;
}

header h1 {
    text-align: center;
    color: white;
}

main {
    height: 90%;
    display: inline;
}

aside {
    width: 20%;
}

#searchContainer button, #searchContainer input {
    width: 98%;
}

section {
    width: 80%;
}

#today {
    border: 1px solid black;
}

figure{ 
    color: white;
    background-color: darkblue;
}