body {
    height: 100%;
}

header {
    height: 10%;
    background-color: lightskyblue;
}

header h1 {
    text-align: center;
    color: white;
}

main {
    height: 90%;
    display: inline;
}

aside {
    width: 20%;
}

button, input {
    width: 98%;
}

button {
    margin-top: 1%;
}

#clear {
    background-color: red;
}

#searchContainer, #saveContainer {
    padding: 0%;
}

#saveContainer{
    margin-top: 2%;
    border-top: 1px solid black;
    padding-top: 2%;
}

.col-9 {
    width: 80%;
}

article {
    margin: 1%;
}

img {
    width: 64px;
    height: 64px;
}

.hidden { 
    visibility: hidden;
}

#today {
    display: block;
    padding-left: 1%;
}

figcaption {
    display: flex;
    align-items: center;
}

#uvIndexValue {
    width: 5%;
    text-align: center;
    border-radius: 5px;
    margin-left: .5%
}

figure{ 
    color: white;
    margin: 1%;
}

figure h1 {
    font-size: 24px;
}